.content {
    padding: 1rem;
    width: 100%;
    display: flex;
}

.tasks__list {
    padding: 1rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    button {
        border: 6px;
        background-color: aliceblue;
        padding: 1rem;
        border: none;
        &:hover {
            background-color: lightblue;
        }
    }
}

.tasks__view {
    width: 70%;
}

.tasks__list-title {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    font-size: 14px;
}

.task__maker {
    display: flex;
    flex-direction: column;
    *{
        margin-top: 0.5rem;
    }
    .user-select {
        cursor: pointer;
        background-color: lightblue;
        border-radius: 6px;
        padding: 0.5rem;
        ul {
            margin-left: 1rem;
            list-style: none;
            li {
                &:hover {
                    background-color: aliceblue;
                }
            }
        }
    }
}

.task {
    cursor: pointer;
    color: gray;
    &:hover {
        background-color: lightblue;
    }
}